<a href="https://colab.research.google.com/github/Preeyanat-Krasaeging/colab/blob/main/Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

print string ใช้ได้ทั้ง **"-" ,'-'**

การประกาศตัวแปร
ชื่อตัวแปร = "ค่าที่ต้องการจัดเก็บ"

**(#)ใช้คอมเมนต์**
เช่น #This is comment

แปลง(ตัวเลข)เป็น(ข้อความ)โดย **str(ตัวแปร)**

In [ ]:
print('single quote')

single quote

In [ ]:
print("hello" + "world")
print("hello" +""+"world")
print("hello","world","!","R2DE")

helloworld
helloworld
hello world ! R2DE

int (Integer) เป็นข้อมูลประเภทจำนวนเต็ม

In [ ]:
#int
a=1
print(a)

1

In [ ]:
#float ค่าทศนิยม
float(a)

1.0

str (String) เป็นข้อมูลประเภท"ข้อความ"

สามารถแปลง ตัวเลขให้เป็นข้อความได้ด้วย str(ตัวแปร)

In [ ]:
#String
str(a)

'1'

การบวก string คือการนำ string สองอันมาต่อกัน (append)

In [ ]:
#เป็นString
str(a) + "1"

'11'

In [ ]:
#ตัวเลข เป็นint
print(1+2+3)

6

คำสั่ง type()เป็นคำสั่งที่ใช้ตรวจสอบประเภทตัวแปร ว่าเป็นตัวแปรประเภทอะไร

In [ ]:
#Type ใช้ตรวจสอบคำสั่ง
type(a)

int

In [ ]:
b = "Python"
b

'Python'

ถ้าไม่สามารถแปลงประเภทตัวแปรได้ จะขึ้นว่า ValueError

# Python Data Structures

### โครงสร้างข้อมูลที่ควรรู้จัก

# List

List เป็น data structure ที่ไว้เก็บข้อมูลเป็นลำดับ เหมือน array คือ จะเก็บข้อมูลไว้เป็นช่อง โดยจะมี index(หมายเลขประจำช่อง) เริ่มต้นที่ 0 และสามารถเพิ่มเติม (append) หรือแก้ไขข้อมูลใน list ได้ (mutable) ใช้สัญลักษณ์ [ ]แทน list

In [ ]:
print(a,type(a))
print(b,type(b))

1 <class 'int'>
Python <class 'str'>

การสร้าง list สร้างโดยใช้เครื่องหมาย [ ]

In [ ]:
empty_list = []
print(empty_list)

[]

การสร้าง list จากตัวแปรที่สร้างขึ้น

In [ ]:
l=[b,a,a+1,a+2]
l

['Python', 1, 2, 3]

การดูจำนวนสมาชิก(lenght) ของ list

In [ ]:
len(l)

4

การเรียกดูค่า list ในเฉพาะบางช่อง

In [ ]:
l[3]

3

การเปลี่ยนแปลง (assign)ค่า ในสมาชิกของ list

In [ ]:
l[3] = 5
l

['Python', 1, 2, 5]

ถ้าพยายามจะเปลี่ยนแปลงข้ออมูล โดยที่ index(เลขที่ใช้อ้างอิงลำดับ: เริ่มจาก 0 เสมอ) มีค่ามากกว่า

In [ ]:
#IndexError
l[3] = ":)"

การเพิ่มสมาชิกของ list ต่อท้าย ใช้คำสั่ง append

In [ ]:
l.append(":)")
l

['Python', 1, 2, ':)', ':)']

In [ ]:
len(l)

5

คำสั่ง pop()คือการ remove สมาชิกตัวสุดท้ายของ list

In [ ]:
l.pop()
l

['Python', 1, 2, ':)']

# Tuple


Tuple เป็น data structure ที่ไว้เก็บข้อมูลเป็นลำดับ (คล้ายกับlist) โดยจะมี index เริ่มต้นที่ 0 เช่นกัน แต่ *ไม่สามารถแก้ไข เปลี่ยนแปลงข้อมูลได้ (immutable) *ใช้สัญลักษณ์( ) แทน tuple ในการสร้าง

In [ ]:
t = (0,1,2,3,4)

In [ ]:
len(t)

5

In [ ]:
t[0:4]

(0, 1, 2, 3)

# การใช้เลข index(สำหรับ list, tuple และstring)
ในlist, tuple และstring สามารถใช้ตัวเลข index เพื่อเข้าถึงสมาชิกได้ โดย index จะเริ่มจาก 0 และถึง len() -1 สามารถอ้างอิงเป็นช่วง ได้ด้วยเครื่องหมาย :(colon)โดยช่วงจะเริ่มจาก index ตัวแรก ถึง index ตัวสุดท้ายในช่วง -1 (ถ้าเว้นไว้คือถึงตัวสุดท้าย) และสามารถใช้เลข index ติดลบแทนการนับจากด้านหลังได้

การเข้าถึง ข้อมูลตัวสุดท้ายของ tuple

In [ ]:
t[-1]

4

การเข้าถึงข้อมูล ตัวที่สาม จากตัวท้ายสุด จนถึงตัวสุดท้าย

In [ ]:
t[-3:]

(2, 3, 4)

In [ ]:
t[:-3]

(0, 1)

# Dictionary

Dictionary เป็น data structure ที่เก็บในลักษณะ key-value ใช้สัญลักษณ์{} แทน dictionary ในการสร้าง

 เช่น dict = {"key":"value"} หรือ

 dict = {} เพื่อสร้าง dict เปล่า

การสร้าง grade dictionary สำหรับการตัดเกรด

In [ ]:
grade = {
    "A" : 80,
    "B" : 70,
    "C" : 60,
    "D" : 50,
}
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
grade["A"]

80

In [ ]:
#เพิ่มB+เข้ามา
grade["B+"] = 75
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

การสร้าง dictionary ว่าง และเพิ่มหรืออัปเดตค่า key-value

In [ ]:
d = {}
d["s001"] = "Perth"
d["s002"] = "Fon"

In [ ]:
d["s001"]

'Perth'

# Python String

String สำหรับเก็บตัวแปรประเภทข้อความ สามารถเข้าถึงด้วย index ได้เหมือนกับ list สามารถต่อเชื่อม  string หลายๆ string ด้วย เครื่องหมายstring + หรือ join()ในกรณีที่เป็น list และมีฟังก์ชันอื่นๆ ที่เกี่ยวกับ string อีกมากมาย เช่น


*   split() การแยก string ด้วย symbol ผลลัพธ์ของการรันจะออกมาเป็น list
*   strip() การลบช่องว่างที่อยู่หน้าหรือหลังสุด

In [ ]:
sentence = " Hello Python. I am ready"

String จะคล้ายคลึงกับ list ตรงที่สามารถ ดูค่าตาม index ที่ระบุตำแหน่งนั้นได้

In [ ]:
#เพราะด้านหน้าH มีช่องว่าง
sentence[1]

'H'

การตัดบางช่วงของ string โดยใช้เครื่องหมาย : ควบคู่กับ index ดังนี้ เริ่มต้น: ตัวสุดท้าย+1

In [ ]:
sentence[1:13]

'Hello Python'

strip คือการลบช่องว่าง หัวท้าย

In [ ]:
sentence.strip()

'Hello Python. I am ready'

In [ ]:
list_of_words = sentence.strip().split(' ')

In [ ]:
corgi = ''.join(list_of_words)
corgi

'HelloPython.Iamready'

# Loop and Condition

### For loop
ในภาษา Python สามารถวน for loop ตามสมาชิกแต่ละตัวใน object ที่มีลักษณะเป็น list ได้ โดยการวน loop มีการใช้งานดังนี้

In [ ]:
for temp_var in list_or_range:
  do_something1()
  do_something2()

สังเกตว่าบรรทัดหลังจาก for จะมีการ tab (เว้น 4 วรรค) อยู่ด้านหน้า เพื่อเป็นการจัด scope ของ for loop นั้น

In [ ]:
#ทบทวนตัวแปร l ตัวเดิม
l

['Python', 1, 2, ':)']

In [ ]:
for item in l:
  print(item)

Python
1
2
:)

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
t

(0, 1, 2, 3, 4)

# List Comprehension

การวน for loop เพื่อที่จะได้ output ออกมาเป็น list สามารถวนลูปไปในสมาชิกแต่ละตัว ได้ภายใน 1 บรรทัด แบบย่อ เทคนิคนี้เรียกว่า list comprehension

In [ ]:
#List Comprehension
list_t = [i for i in t]

ดับเบิลคลิก(หรือกดEnter) เพื่อแก้ไข

In [ ]:
[i + 1 for i in range(100)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

# If condition

if condition จะทำตามเงื่อนไขต่อเมื่อเป็นจริงเท่านั้น

elif (else if) คือ เงื่อนไขรอง หาก if แรกไม่เป็นจริง มีกี่อันก็ได้

ถ้าไม่ตรงกรณีไหนเลยจะทำ else (else if และ else สามารถไม่มี)

In [ ]:
if len(t) == 5:
  print('length is 5')
else:
  print('length not equals 5')

length is 5

'ตัวอย่างโค้ดการตัดเกรด จากตัวแปรscore

In [ ]:
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
score = 75
if score >= grade["A"]:
  print("A")
  print("Good Job!")
elif score >= grade["B+"]:
  print("B+")
elif score >= grade["B"]:
  print("B")
elif score >= grade["C"]:
  print("C")
elif score >= grade["D"]:
  print("D")
else:
  print("F")

B+

# Math
Package สำหรับคำนวณตัวเลข เช่น Log,Exponential และใช้เรียกค่าสำคัญทางคณิตศาสตร์ เช่น Pi

In [ ]:
import math
math.pi

3.141592653589793

นอกจากการimport แบบตรง สามารถ import เฉพาะตัวแปร หรือfuntion ได้เช่นกัน โดยใช้ from[ชื่อ package] import [ชื่อ funtion หรือตัวแปรที่ต้องการ import]

In [ ]:
from math import pi

pi

3.141592653589793

# Datetime

Datatime เป็น Package สำหรับจัดการข้อมูลวันเวลา เช่น เวลาในแต่ละ TimeZone,ดึงวันเวลาในวันนี้โดยทั่วไป เวลามักเป็นเวลา UTC (Universal Time Coordinated)คือเป็นเวลามาตรฐานโลก ไม่อิงตาม timezone
เวลาประเทศไทย จะเป็นเวลาที่เรียกว่า lndochina Time (ICT) คือ เป็นเวลา UTC+ 7ชั่วโมง

In [ ]:
import datetime

now = datetime.datetime.now()
now

datetime.datetime(2025, 1, 30, 17, 24, 19, 937149)

isoformat คือ format มาตรฐานที่นิยมใช้ใน timestamp ที่เก็บไว้บน database / data warehouse

In [ ]:
now.isoformat

การเรียกดูเวลาปัจจุบัน

In [ ]:
today = datetime.date.today()
today

datetime.date(2025, 1, 30)

รูปแบบมาตรฐานของ data คือ YYYY-mm-dd

In [ ]:
today.isoformat()

'2025-01-30'

# Simple function
Function คือ การกำหนดการคำนวณที่ใช้ซ้ำบ่อยๆ เพื่อให้เรียกใช้ได้สะดวกในการเรียกใช้Function ผู้ใช้ส่งตัวแปรเข้ามากี่ตัวก็ได้ (เรียกว่า argument หรือ parameter)เช่น height และ width และสามารถกำหนดค่าในกรณีที่ผู้ใช้ใส่ตัวแปรใน parameter มาไม่ครบ เรียกว่า default parameter (ในตัวอย่างเช่น rate ตัวแปรค่าเงินที่สามารถกำหนดค่า default ได้)การ return คือการ คืนค่าออกไปเพื่อเป็นผลลัพธ์ของ function

parameter ของ function คือ ตัวแปรรับเข้าที่เปลี่ยนค่าได้

In [ ]:
def circle_area(radius):
  return pi*radius*radius

circle_area(4)

50.26548245743669

In [ ]:
def rectsngle_area(height, width):
  return height*width

rectsngle_area(4,5)

20

สร้างฟังก์ชันเพื่อแปลงค่าเงิน โดย rate จะมี default parameter อยู่ที่ 31.33

In [ ]:
def conversion(amount, rate=31.33):
  return amount * rate

conversion(30)

939.9

แต่สามารถปรับเปลี่ยนค่า rate ได้เหมือนฟังก์ชันปกติ ถ้าเกิดมีการใส่ rate มา

In [ ]:
conversion(30, 34.3333)

1029.999

# Working with files การทำงานร่วมกับไฟล์

การเขียนไฟล์ จะใช้คำสั่ง open เพื่อเปิดไฟล์ และเขียนไฟล์ลงไป

'w' ข้างหลัง (write) คือ โหมดดของการเปิดไฟล์แบบเขียน ซึ่งจะสร้างไฟล์ใหม่ขึ้นมาเพื่อเขียน

In [ ]:
file = open("output.csv","w")
file.write("date,item,price\n")
file.write("2020-02-07,Milk,26.5\n")
file.write("2020-02-08,Water,7\n")
file.close

การวนลูปเขียนไฟล์ จากlist ของtuple

In [ ]:
header = ("date","item","price")
",".join(header) + "\n"

'date,item,price\n'

In [ ]:
header = ("date","item","price")
content = [
    ("2020-02-07","Milk","26.5"),
    ("2020-02-08","Water","7"),
    ("2020-02-08","Mask","20"),
    ("2020-02-08","Lays","10"),
    ("2020-02-08","Rice","6"),
]

file = open('products.csv','w')
file.write(",".join(header) + "\n")

for row in content:
  file.write(",".join(row) + "\n")

file.close()

การอ่านไฟล์ จะคล้ายคลึงกันกับ การเขียนไฟล์ตรงที่ต้อง open file เช่นกัน แตกต่างกันที่ mode

In [ ]:
with open("products.csv","r")as f:
 product = f.readlines()

product

['date,item,price\n',
 '2020-02-07,Milk,26.5\n',
 '2020-02-08,Water,7\n',
 '2020-02-08,Mask,20\n',
 '2020-02-08,Lays,10\n',
 '2020-02-08,Rice,6\n']

In [ ]:
len(product)

6

# Use Pandas

การอ่านไฟล์ CSV ด้วย Pandas (3rd party package) สำหรับการอ่านและประมวลผลไฟล์ของตาราง Dataframe

Pandas เป็นที่นิยมใช้ในสาย data มาก เพราะสามารถช่วยให้วิเคราะห์และใช้งาน data ที่เป็น Pythonได้ง่ายขึ้น

เนื่องจากเป็น package ที่ python ไม่มี จึงต้อง import ก่อนด้วย

In [ ]:
import pandas as pd

df = pd.read_csv("sample_data/california_housing_test.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
type(df)

pandas.core.frame.DataFrame

เซฟไฟล์ CSV จาก DataFrame

In [ ]:
df.to_csv("new_data.csv")

# JSON

ดับเบิลคลิก (หรือกด Enter) เพื่อแก้ไข

JSON dump = export JSON

In [ ]:
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
import json
json.dumps(grade)

'{"A": 80, "B": 70, "C": 60, "D": 50}'

In [ ]:
type(json.dumps(grade))

str

In [ ]:
# Save to output file grade.json
json.dump(grade, open("grade.json", "w"))

### JSON load = import JSON

In [ ]:
students = json.loads('{"student1":"Perth", "student2": "Fon"}')
students

{'student1': 'Perth', 'student2': 'Fon'}

In [ ]:
type(students)

dict